[submodule "docker-common"]
	path = docker-common
	url = git@github.com:solanoepalacio/grpc-docker-common
[submodule "gateway"]
	path = gateway
	url = git@github.com:solanoepalacio/grpc-web-gateway
[submodule "node-service"]
	path = node-service
	url = git@github.com:solanoepalacio/grpc-node-service
[submodule "messages"]
	path = messages
	url = git@github.com:solanoepalacio/grpc-messages
[submodule "web-client"]
	path = web-client
	url = git@github.com:solanoepalacio/grpc-web-client
